.card-lg {
  flex-direction: row-reverse;
  align-items: center;

  @include desktop {
    flex-direction: column;
  }
}

blockquote > p {
  display: inline-block;
  padding: 10px 20px;
  border-left: 2px solid $primary-color;
  font-style: italic;
  font-size: 22px;
  line-height: inherit;
}

.content {
  * {
    margin-bottom: 20px;
  }

  strong {
    font-family: $primary-font;
    font-weight: bold;
    display: inherit;
    line-height: 1.5;
  }
}
